@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0; */
  --background-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb)); */
  color: #002131;
  background: rgb(var(--background-rgb));
  /* headerBar top padding */
  /* padding-top: 72px; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-orange:hover a {
  background-color: #002131 !important;
  transition: ease-in-out 200ms;
}

.btn-white:hover a {
  background-color: #FB9501 !important;
  transition: ease-in-out 200ms;
  color: #fff !important;
  border: solid 1px #fff !important;
}