.navbar {
  padding-top: 20px !important;
}

/* sm - md - lg breakpoints -> collapsed  */
@media (max-width: 1199px) {
  .navbar-nav {
    text-align: center !important;
  }
  .navbar-toggler {
    border: 0 !important;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 33, 45, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
  .dropdown-menu.show {
    text-align: center !important;
    border: 0 !important;
  }
  .dropdown-toggle {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .dropdown-item {
    padding: 0 !important;
    margin: 0 !important;
  }
  .socialIcons {
    height: 78px;
  }
}

/* xl breakpoint -> expanded  */
@media (min-width: 1200px) {
  .dropdown-menu.show {
    display: flex !important;
    flex-direction: row !important;
    width: auto !important;
    position: absolute !important;
    top: 100% !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border-top: solid 2px #002331 !important;
    border-radius: 0 !important;
    right: 0 !important;
  }
  .dropdown-menu[data-bs-popper] {
    left: inherit !important;
    right: 0 !important;
  }
}
